# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/lingodingo-app/node_modules
/soudservies/node_modules
/mongoController/node_modules

*.wav # ignore all .wav files






/lingodingo-app/.pnp
.pnp.js

soudservies/.env
.env

# testing
/lingodingo-app/coverage
# production
/lingodingo-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
