/* index.css */

/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #e0f7fa, #ce93d8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Centering main content */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Utility Classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 12px;
}
